ul {
  float: left;
  list-style-type: None;
  margin-top: 25px;
  font-weight: bolder;
  color: white;
  position: relative;
  top: -55px;
  left: 20px;
  margin-bottom: 25px;
}
ul li{
  display: inline-block;
  color: white;
  font-weight: 600;
}

ul li a{
  text-decoration: None;
  border-bottom: #fff;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.2s ease;


}
::placeholder{
  font-weight: 500;
  font-size: 14px;
  color: gray;
}
ul li a:hover{
  border-bottom: 4px solid #7300ff;
  color: #fff;
}
ul li.active a{
  border-bottom: 4px solid #008cff;
  color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 600px;
  background: #000;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;

}

.left {
  position: absolute;

  top: 0;
  left:0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 500px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  text-align: center;
  align-content: center;

}

input[type="text"],
input[type="password"],
input[type="number"],
input[type = "tel"],
input[type ="email"]
 {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #AAA;
  border-top: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;

}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus
 {
  border-bottom: 2px solid #36c6ff;
  border-top: 2px solid #36c6ff;
  border-left: 2px solid #36c6ff;
  border-right: 2px solid #36c6ff;
  color: #f0ff19;
  font-weight: 650;
  width: 560px;
  transition: 0.2s ease;
  background-color: #000;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background-color: #25f53a;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
  color: #fff;
  font-weight: 650;

}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.copyRight{
  transform: translate(50%, 80%);
  color: #fff;
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
}
.error{
  color: white;
  font-size: 20px;
  font-weight: 650;
  border: 1px solid #ff3d47;
  background-color:#ff3d47;

}

.success{
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid black;
  background-color:green;
}
body{
  background-image: url("galaxyJeep.jpg");
}

.loginRedirect{
  color: #61f4ff;
  font-size: 15px;
  font-weight:550;

}
.loginRedirect a{
  color: red;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
}

.loginRedirect a:hover{
  color: #6fff00;
  background-color: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
