*{
  margin: 0;
  padding: 0;
}
ul {
  float: left;
  list-style-type: None;
  margin-top: 25px;
  font-weight: bolder;
  color: white;
}
ul li{
  display: inline-block;
  color: white;
  background-color: black;
}

ul li a{
  text-decoration: None;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.2s ease;


}
ul li a:hover{
  background-color: ##eb4034;
  color: #fff;
  text-decoration: none;
}

.loggedIn{
  font-size: 15px;
  font-weight: bolder;
  font-family: Georgia;
  color: #000;
  position: relative;
  top: 20px;
  left: 380px;
}
.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
.content-table thead tr{
  background-color: #ada4a3;
  color: #5fde35;
  text-align: left;
  font-weight: bold;
}

.content-table th, td{
  padding: 12px 15px;
  background-color: black;
  color: white;
  font-weight: bolder;
}
.content-table tbody tr{
  border-bottom: 1px solid green;
  border-bottom-width: medium;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #ada4a3;
  color: #5fde35;

}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #35de84;
}

h{
  color: red;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  font-family: Trebuchet;
}
